body {
    background-color: white;
}

body, html{
    height:94%;
}

.navigateur{
    width: 100%;
    top: 0;
}

.bas_footer{
    color: white;
    font-size: 0.8em;
    background-color: #339933;
}

.noms{
  font-size: 0.8em;
}

.ensemble_footer{
    width: 100%;
    position: fixed;
    bottom:0;
}

.contenu{
    height: 100%;
}

